[Locations]
# Path to loadout config from runner
looks_config = replaybotAppearance.cfg

# Path to module from runner
python_file = replaybot.py

# Name that will be displayed in game
name = Replay
[Bot Parameters]
java_executable_path = ../ReplayBot/bin/ReplayBot.bat

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer =

# Short description of the bot
description = 

# Fun fact about the bot
fun_fact = 

# Link to github repository
github = 

# Programming language
language = java